.menu-section {
  padding: 2em;
  padding-top: 10em;
  background-color: var(--secondaryGreen);
  position: relative;
  transition: all ease;
}
.menu-section h1 {
  text-align: center;
  margin-bottom: 1em;
  font-size: 2.5em;
  color: white;
}
.menu-table {
  margin-bottom: 2em;
}
.menu-category {
  background-color: #fff;
  width: 100%;
  min-height: 50em;
  max-height: 75vh;
  overflow: hidden;
  padding: 4em 2em;
  position: sticky;
  display: grid;
  grid-template-columns: 2fr 4fr;
  gap: 10px;
  top: 10em;
  width: 60%;
  max-width: 60%;
  box-shadow: 0 25px 16px rgba(0, 0, 0, 0.05), 0 10px 10px rgba(0, 0, 0, 0.1),
    0 3px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #c1c1c1;
}

.animateUp{
  transition: var(--animationSmooth);
  display: inline-block;
  position: relative;
  width: 100%;
  height: 30px;
  min-height: inherit;
  display: flex;
  align-items:center;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  justify-content: flex-start;
}

.animateUp p{
  position: relative;
  height: 100px;
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  overflow: hidden;
  position: absolute;
  transition: var(--animationSmooth);
}

.animateUp p::after{
  content: attr(data-hover);
}

.animateUp p:hover{
  top: -30px;
  cursor: pointer;
}
.menu-cat-one {
  min-width: 100%;
  height: 50em;
  max-height: 75vh;
  gap: 1em;
  overflow: hidden;
  position: sticky;
  align-items: flex-start;
  display: flex;
  top: 10em;
  width: 100%;
}
.qr-code-section {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.qr-code {
  min-height: 300px;
  padding: 1em;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  min-width: 200px;
  border: 1px solid #ccc;
  background-color: #fff;
}
.qr-code img {
  width: 50%;
  cursor: pointer;
}

.qr-code p{
  text-transform: capitalize;
}
.menu-category div {
  flex-grow: 1;
}
.tal {
  text-align: left;
}
.menu-category h2 {
  font-size: 1.5em;
  font-weight: 400;
  text-align: left;
}
.menu-category li {
  padding: 0.5em 0;
  text-align: left;
  min-width: 100%;
  border-bottom: 1px solid #d3d3d3bd;
}
.menu-category ul {
  min-width: 100%;
}

@media (max-width: 1018px) {
  .menu-category h2,
  h3 {
    font-size: 1.2em;
    font-weight: 600;
  }
  .menu-section {
    max-width: 100%;
    width: 100%;
    height: 100%;
    max-height: 100%;
  }
  .qr-code {
    display: none;
  }
  .menu-section h1 {
    font-size: 2.5em;
  }
  .menu-category {
    display: block;
    min-height: fit-content;
    height: fit-content;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  }
}
