.blacksection {
  background-color: #181818;
  color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 0;
  position: relative;
  min-height: fit-content;
  border-bottom: none;
  overflow: hidden;
}
.white-cutaway {
  position: absolute;
  min-height: 400px;
  width: 400px;
  background-color: #fff;
  min-width: 200px;
  text-align: center;
  overflow: hidden;
  bottom: 10px;
  z-index: 2;
  padding: 0.5em;
  color: #181818;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.white-cutaway p {
  margin-bottom: 10px;
  text-transform: uppercase;
}
.footer-header {
  position: absolute;
  margin-top: 5em;
}
.white-cutaway-inner,
.wci {
  min-width: 200px;
  height: 200px;
  object-fit: cover;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #181818;
}
.white-cutaway-inner {
  position: relative;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-size: cover;
}
.wc-overlay{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.154);
}
.bs-cut {
  bottom: 0;
  top: auto;
}
@media only screen and (max-width: 650px) {
  .blacksection {
    height: 40vh;
    overflow: hidden;
  }
  .white-cutaway-inner div {
    display: flex;
    align-items: center;
  }

  .hidemobile{
    display: none;
  }
  .white-cutaway {
    min-width: 100%;
    min-height: 100%;
  }
}
