.main-hero {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .hero {
    min-height: 93vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }
  
  .static-nav {
    display: flex;
    position: absolute;
    top: 0;
    padding-top: 10px;
    left: 0;
    padding: 10px;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid rgb(124, 114, 96);
    backdrop-filter: blur(1em);
    justify-content: space-between;
    z-index: 1000;
  }
  
  .static-nav-inner {
    display: flex;
    gap: 30px;
    color: #f2f2ec;
  }
  
  .hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.53) !important;
  
  }
  .explore-div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .explore-btn{
    backdrop-filter: blur(1em);
    padding: 12px 15px;
    
  }

  .hero-text-main {
    text-align: left;
    margin: 0 auto;
    color: white;
    text-transform: uppercase;
    z-index: 100;
    text-align: center;
    position: absolute;
    top: 50%;
    width: 100%;
  }
  
  .small-text {
    font-size: 0.875em;
  }
  
  .logo-text {
    color: white;
  }
  