.main-hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 0;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid #dbdbdb;
}

.hero {
  min-height: 95vh;
  width: 100%;
  display: flex;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.view-hero-header {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  width: 100%;
  display: grid;
  grid-template-columns: 4fr 10fr;
  align-items: baseline;
  overflow: hidden;
  height: 50px;
  justify-items: stretch;
}

.view-hero-header-details {
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: left;
  height: 100%;
  width: 100%;
  overflow: hidden !important;
  align-items: center;
  padding: 10px;
  line-height: 1.1;
  cursor: pointer;
}

.view-hero-header-details p {
  font-size: 12px;
  font-weight: 700;
}

.view-hero-header-details div {
  align-items: center;
  display: flex;
}

.static-nav {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 20px;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid rgba(113, 113, 113, 0.733);
  backdrop-filter: blur(0.5em);
  justify-content: space-between;
  z-index: 15;
  min-height: 5rem;
  overflow: hidden;
  transition: var(--transitionSmooth);
}

.static-nav p {
  color: #fff;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.53);
}
.view-hero-header-details .flexCenter{
  cursor: pointer;
  transition: var(--transitionSmooth);
}
.view-hero-header-details .flexCenter:hover{
  gap: 20px;
  opacity: 0.7;
}

.hero-text-main {
  text-align: left;
  margin: 0 auto;
  color: white;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  top: 50%;
  width: 100%;
}

.small-text {
  font-size: 0.875em;
}

.logo-text {
  color: white;
}

.static-nav-btn{
  padding: 0;
  height: 10px;
}
.explore-text {
  background-color: transparent;
  color: white;
  display: flex;
  gap: 10px;
  align-items: center;
  margin-left: 20px;
  justify-content: baseline;

}
.animateLink{
  transition:var(--transitionSmooth);
  cursor: pointer;
  will-change: opacity, gap;
}

.animateLink:hover{
  gap: 20px;
  opacity: 0.7;
}

@media only screen and (max-width: 650px) {
  .hero {
    min-height: calc(5rem * 8);
    padding: 1.25em 4vw 2.5em;
    min-width: 100%;
    overflow: hidden;
  }

  .view-hero-header-details {
    text-align: center;
  }

  .view-hero-header-details p {
    font-size: 8px;
    align-items: baseline;
  }

  .small-hide {
    display: none;
  }
}
