.view-section {
  position: relative;
  padding: 0;
  border: none;
  margin: 0;
  overflow: hidden;
  min-width:100%;
  background-color: var(--secondaryGreen);
  background-image: url("../../img/view.webp");
  background-position: center;
  background-size: contain;
  box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.524);
  display: flex;
  z-index: 4;
  align-items: baseline;
  justify-content: flex-start;
}

.absolute-open {
  position: absolute;
  box-shadow: var(--box-shadow-light);
  top: 0;
  display: flex;
  left: 0;
  align-items: flex-start;
  width: 27%;
  color: #fff;
  min-height: 100%;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.616);
}
.fa {
  padding: 0.7em 1em;
  min-width: 100%;
  border-right: 1px solid black;
}
.absolute-open p:first-child {
  padding: 1em;
  margin-bottom: 10px;
  border-bottom: 1px solid #7e7e7e;
}

.absolute-open h1 {
  margin: 2em 0;
  font-size: 2.3em;
}
@media only screen and (max-width: 850px) {
  .view-section {
    background-size: cover;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .absolute-open {
    position: static;
    width: 50%;
    min-height: fit-content;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.616);
  }
  .absolute-open h1 {
    margin: .5em 0;
    font-size: 2em;
    line-height: normal;
  }
}
