.services-div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 40px;
}

.logo-div-kids img {
  width: 100px;
}

.kids-section {
  background-color: #161d15;
  background-image: url(../assets/vespertineBlack.svg);
  background-size: cover;
  max-height: min-content;
  max-width: 100%;
  color: #fff;
  overflow: hidden;
  padding: 4em 0;
  min-height: fit-content;
  border-bottom: #aeaeae;
}

.kids-card-image {
  position: relative;
  min-height: 70vh;
  cursor: pointer;
  z-index: 19;
}

.kidscard {
  min-width: 350px;
  min-height: 350px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px 2px;
  overflow: hidden;
  position: absolute;
  bottom: 50px;
  left: 40% !important;
  box-shadow: 0 0 10px rgba(17, 17, 17, 0.058);
  background-image: url("https://images.unsplash.com/photo-1525829424145-8539ba2df303?q=80&w=2574&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  transition: all 300ms ease-in-out;
}

.kidscard:hover {
  transform: scale(1.05);
}

.butterflysvg img {
  position: absolute;
  left: 19% !important;
  top: 20%;
  z-index: 199;
  border-radius: 50%;
  background-color: var(--secondaryPink);
  padding: 1em;
  width: 70px;
  height: 70px;
}

.pinsvg {
  position: absolute;
  z-index: 140;
  top: 0;
  left: 50% !important;
}

.card1 {
  transition: var(--animationSmooth);
  background-image: url("https://images.unsplash.com/photo-1627222295124-f8b3fc09e47f?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fGljZWNyZWFtfGVufDB8fDB8fHww");
}

.card2 {
  transition: var(--animationSmooth);
  background-image: url("https://images.unsplash.com/photo-1560106952-abd9130296c9?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjcwfHxkZXNzZXJ0fGVufDB8fDB8fHww");
}

.relative-con {
  position: relative;
}

.link-copy__icon {
  height: 10px;
  width: 10px;
  color: #aeaeae;
  z-index: 10;
}

.link-copy__icon svg {
  height: 10px;
  width: 10px;
}

.fixed-reserve-restaurant ul {
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  gap: 2em;
  transition: var(--transitionSmooth);
}

.flex-time-co {
  display: flex;
  align-items: center;
  margin-top: 10px;
  gap: 5px;
}

.res-complete-div {
  padding: 20px 10px;
  display: flex;
  font-size: 10px;
  min-width: 200px;
  align-items: center;
  justify-content: center;
  gap: 15px;
  color: #f5f5f2;
  min-height: 40px;
  border: none;
  text-transform: uppercase;
  background-color: #0d110c;
  will-change: background-color;
  transition: var(--transitionSmooth);
}

.res-complete-div:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

.dinner-reserve-btn {
  width: 100%;
  margin-top: 10px;
  background-color: #ebebeb;
  color: black;
  min-height: 40px;
  border: none;
  font-weight: 600;
  font-size: 12px;
  transition: background-color 0.3s ease-in-out;
}

.dinner-reserve-btn:hover {
  background-color: #dcdcdc;
}

.fixed-reserve-restaurant {
  background-color: #161d15;
  position: fixed;
  color: #fff;
  border: 1px solid rgb(69, 93, 89);
  top: 25.8%;
  text-align: left;
  transition: var(--animationSmooth);
  will-change: transform;
  right: 1.1%;
  width: 300px;
  z-index: 70;
  box-shadow: 0 0 10px rgba(33, 32, 32, 0.11);
}

.fixed-reserve-restaurant.open {
  transform: translateY(0);
}

.fixed-reserve-restaurant input,
select {
  border: 0.1px solid #6c6c6cd6;
}

.fixed-reserve-restaurant label {
  font-size: small;
}

.fixed-reserve-restaurant ul h3 {
  font-size: 17px;
}

.mobile-reservation-toggle {
  display: none;
  border: 0.1px solid rgba(214, 214, 214, 0.685);
  padding: 10px;
  min-width: 80px;
  border-radius: 50%;
  min-height: 80px;
  cursor: pointer;
  position: fixed;
  top: 20%;
  right: 10px;
  font-weight: 600;
  z-index: 80;
  background-color: #161d15;
  transition: var(--transitionSmooth);
  box-shadow: var(--box-shadow-light);
}

.Pillowsvg{
  height: 40px;
  width: 40px;
}

@media (max-width: 650px) {
  .kidscard {
    background-color: #fff;
    min-width: 250px;
    min-height: 250px;
  }

  .kids-card-image {
    min-height: 60vh;
    overflow: hidden;
  }

  .fixed-reserve-restaurant {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    background-color: #181818;
    left: 0;
    opacity: 1;
    overflow: hidden;
    transform: translateY(-100%);
  }

  .fixed-reserve-restaurant.open {
    transform: translateY(0);
  }

  .fixed-reserve-restaurant ul {
    background-color: transparent;
    width: 96%;
    height: 40vh;
    display: grid;
  }

  .fixed-reserve-restaurant li label {
    font-size: 1.3em;
  }

  .fixed-reserve-restaurant ul button,
  .fixed-reserve-restaurant ul input,
  select {
    padding: 20px;
    font-size: 1.1em;
  }

  .mobile-reservation-toggle {
    display: block;
    background-color: #fff;
  }

  .butterflysvg img {
    background-color: var(--secondaryGreen);
  }

  .pinsvg {
    top: 30px;
  }
}
