.main-text-area {
 padding:0;
 margin: 0;
 min-height: fit-content;
 position: relative;
}

.main-content {
  padding: 4em 0;
  text-align: center;
  width: 100%;
}

.header-text {
  font-family: sans-serif;
  font-weight: 450;
  font-size: larger;
  margin-bottom: 1em;
}

.num {
  color: #3c443f;
}

i {
  font-family: "Times New Roman", Times, serif;
  color: whitesmoke;
}

.sub-text {
  max-width: 450px;
  margin: 0 auto;
}

.img-div-two, .img-div-one{
  position: absolute;
  height: 350px;
  width: 300px;
  overflow: hidden;
  background-color: #3c443f;
}

.img-div-one{
  top: 10px;
  left: 0;
}
.img-div img,
.img-div-two img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.img-div-two {
  right: 0;
  bottom: 10px;
}

.header-text h3 {
  font-size: 0.8em;
  margin-bottom: 10px;
  line-height: 1.1;
}

@media only screen and (max-width: 750px) {
  .header-text h3 {
    font-size: small;
  }

  .main-text-area {
    padding: 1em;
  }

  .img-div,
  .img-div-two {
    display: none;
  }

  .header-text {
    font-size: small;
    margin: 1rem;
  }

  .sub-text {
    width: 90%;
    margin: 0 auto;
    padding: 0 10px;
  }

  .main {
    min-height: 60vh;
  }

  .button-container {
    padding-top: 2em;
  }
}
